[submodule "storage/storage-service-cxx/third_party/lmdb"]
	path = storage/storage-service-cxx/third_party/lmdb
	url = https://github.com/LMDB/lmdb.git
    branch = LMDB_0.9.24
[submodule "storage/storage-service-cxx/third_party/lmdb-safe"]
	path = storage/storage-service-cxx/third_party/lmdb-safe
	url = https://github.com/ahupowerdns/lmdb-safe.git
[submodule "storage/storage-service-cxx/third_party/boost"]
	path = storage/storage-service-cxx/third_party/boost
	url = https://github.com/boostorg/boost.git
    branch = boost-1.70.0
[submodule "storage/storage-service-cxx/third_party/glog"]
	path = storage/storage-service-cxx/third_party/glog
	url = https://github.com/google/glog.git
	branch = v0.4.0
[submodule "storage/storage-service-cxx/third_party/protobuf"]
	path = storage/storage-service-cxx/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
    branch = v3.9.0
[submodule "storage/storage-service-cxx/third_party/grpc"]
	path = storage/storage-service-cxx/third_party/grpc
	url = https://github.com/grpc/grpc.git
    branch = v1.22.0
[submodule "storage/storage-service-cxx/third_party/rocksdb"]
	path = storage/storage-service-cxx/third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = v6.1.2
